[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
drf-yasg = "*"
drf-rest-auth = "*"
dj-rest-auth = "*"
django-allauth = "*"
gunicorn = "*"
django = "==4"

[dev-packages]

[requires]
python_version = "3.11"
